 <%=  image_tag("/images/logo.png", :alt => "Sample App", :class => "round") %>
        <nav class ="round">
          <ul>
            <li><%=link_to "Home", '/pages/home' %></li>
            <li><%=link_to "Help", '/pages/help' %></li>
            <li><%=link_to "Sign in", '#'%></li>
          </ul>
        </nav>